<%= render('shared/nav') %>

<section>
  <h3>
    <%= link_to '<', root_path %>
    <span><%= image_tag(check_icon(@group.icon)) %></span>
    <span><%= @group.name %></span>
    <span><i>$</i><%= @amount || 0 %></strong></span>
  </h3>

  <% if @entities.empty? %>
    <h3>This category has no transactions yet</h3>
  <% else %>
    <ul>
      <% @entities.each do |e| %>
        <li>
          <h4>
            <span><%= e.name %></span>
            <strong><i>$</i><%= e.amount %></strong>
          </h4>
          <p><%= format(e) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<%= link_to('New Transaction', new_group_entity_path) %>